/* Thanks to Mahesh Ambure, https://codepen.io/maheshambure21/pen/EozKKy */

input[type="text"] {
  color: #333;
  width: 90%;
  box-sizing: border-box;
  letter-spacing: 1px;
  border: 0;
  padding: 7px 0;
  border-bottom: 1px solid #ccc;
}

:focus {
  outline: none;
}

.effect-input ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #4caf50;
  transition: 0.4s;
}

.effect-input:focus ~ .focus-border {
  width: 90%;
  transition: 0.4s;
  left: 0;
}

.effect-input-wrapper {
  position: relative;
}
